<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Controler</servlet-name>
        <servlet-class>controler.Controler</servlet-class>
        <init-param>
            <param-name>User</param-name>
            <param-value>sousControleur.User</param-value>
        </init-param>
        <init-param>
            <param-name>Facturation</param-name>
            <param-value>sousControlers.Facturation</param-value>
        </init-param>
        <init-param>
            <param-name>Commande</param-name>
            <param-value>sousControlers.Commande</param-value>
        </init-param>
        <init-param>
            <param-name>Cuisine</param-name>
            <param-value>sousControleur.Cuisine</param-value>
        </init-param>
        <init-param>
            <param-name>Serveur</param-name>
            <param-value>sousControleur.AffichageServeur</param-value>
        </init-param>
        <init-param>
            <param-name>RH</param-name>
            <param-value>sousControleur.AffichageRH</param-value>
        </init-param>
        <init-param>
            <param-name>Client</param-name>
            <param-value>sousControleur.AffichageClient</param-value>
        </init-param>
        <init-param>
            <param-name>Chef</param-name>
            <param-value>sousControleur.AffichageChef</param-value>
        </init-param>
        <init-param>
            <param-name>Caissier</param-name>
            <param-value>sousControleur.AffichageCaissier</param-value>
        </init-param>
        <init-param>
            <param-name>Accueil</param-name>
            <param-value>sousControleur.AffichageAccueil</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controler</servlet-name>
        <url-pattern>/Controler</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>servletTest.TestTable</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
